<div id="<%= dom_id(project) %>">
  <div class="card">
    <p>
      <%= link_to project.name, [:edit, project] %>
    </p>

    <p>
      <%= project.active ? "Active" : "Inactive" %> /
      <%= Project::UNIONS[project.union.to_sym] %>
    </p>
  </div>
</div>
