<% content_for :title, "Editing project" %>

<h1>Editing project</h1>

<turbo-frame id="edit-project">
  <%= render "form", project: @project %>
</turbo-frame>

<br>

<div>
  <%= link_to "Back to projects", projects_path %>
</div>
